body {
	background-color: #ddd;
	color: black;
	margin: 8mm 6mm;
}

table.layout { border-collapse: collapse; margin: 0; }
table.layout > tr > td:first-child { padding-left: 0; }
table.layout > tr > th { text-align: left; }
table.layout > tr > td { vertical-align: top; }
table.layout table.multicol { margin: 0; }

.entity-browser > table.layout th { font-size: small; }
.entity-browser > table.layout td { padding: 0; }
.entity-browser > table.layout { margin-bottom: 2mm; }

.box-middle, .box-top, .box-bottom { border: solid thin; }
.box-top, .box-bottom { border-radius: 2mm; min-height: 2mm; }
.box-middle, .box-top { border-bottom: none; }
.box-middle, .box-bottom { border-top: none; }
.box-top { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.box-bottom { border-top-left-radius: 0; border-top-right-radius: 0; }

.dsuper1 { margin: 1mm 0; }
.dsuper1, .dsub1 { empty-cells: hide; }
.dsuper1 span, .dsub1 span { display: inline-block; margin: 0.3mm; }
.dsuper1 td, .dsuper1 span, .dsub1 td, .dsub1 span {
	border: solid thin;
	border-radius: 2mm;
	padding: 0 1.5mm;
}
.focus { padding: 0 1mm; }

table.assoc td:first-child { text-align: right; padding-right: 2mm; }

/* Color scheme */
.dsuper1 td, .dsuper1 span
		{ color: #fff; background-color: #000; border-color: #000; }
.dsuper1 a	{ color: #fff; }
.focus		{ color: #fff; background-color: #333; border-color: #333; }
.focus.content	{ color: #000; background-color: #eee; }
.dsub1 td, .dsub1 span
		{ color: #fff; background-color: #666; border-color: #666; }
.dsub1 a	{ color: #fff; }
.dsub2 td, .dsub2 span
		{ color: #fff; background-color: #888; border-color: #888; }
.dsub2 a	{ color: #fff; }

.dsuper1.candidate td,
.dsuper1.candidate span { background-color: #bbb; border: dashed thin #000; }
.dsuper1.candidate a { color: #000; }

table.dsuper1 button {
	padding: 0.3mm;
	margin: 0;
	border-radius: 1mm;
	color: #fff;
	border: solid thin #fff;
	background-color: #07f;
}
