body {
	background-color: #ddd;
	color: black;
	margin: 8mm 6mm;
}

table.soc-layout { border-collapse: collapse; margin: 0; }
table.soc-layout > tr > td:first-child { padding-left: 0; }
table.soc-layout > tr > th { text-align: left; }
table.soc-layout > tr > td { vertical-align: top; }
table.soc-layout table.multicol { margin: 0; }

.soc-entity-browser > table.soc-layout th { font-size: small; }
.soc-entity-browser > table.soc-layout td { padding: 0; }
.soc-entity-browser > table.soc-layout { margin-bottom: 2mm; }

.soc-box.middle, .soc-box.top, .soc-box.bottom { border: solid thin; }
.soc-box.top, .soc-box.bottom { border-radius: 2mm; min-height: 2mm; }
.soc-box.middle, .soc-box.top { border-bottom: none; }
.soc-box.middle, .soc-box.bottom { border-top: none; }
.soc-box.top { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.soc-box.bottom { border-top-left-radius: 0; border-top-right-radius: 0; }

.soc-dsuper1 { margin: 1mm 0; }
.soc-dsuper1, .soc-dsub1 { empty-cells: hide; }
.soc-dsuper1 span, .soc-dsub1 span { display: inline-block; margin: 0.5mm; }
.soc-dsuper1 td, .soc-dsuper1 span, .soc-dsub1 td, .soc-dsub1 span {
	border: solid thin;
	border-radius: 2mm;
	padding: 0 1.5mm;
}
.soc-dsub1 { padding-top: 3mm; padding-bottom: 1mm; }
.soc-box.focus { padding: 0 1mm; }

table.soc-assoc td:first-child { text-align: right; padding-right: 2mm; }

/* Color scheme */
.soc-dsuper1 td, .soc-dsuper1 span
		{ color: #fff; background-color: #000; border-color: #000; }
.soc-dsuper1 a	{ color: #fff; }
.soc-box.focus	{ color: #fff; background-color: #333; border-color: #333; }
.soc-box.focus.content { color: #000; background-color: #eee; }
.soc-dsub1 td, .soc-dsub1 span
		{ color: #fff; background-color: #666; border-color: #666; }
.soc-dsub1 a	{ color: #fff; }
.soc-dsub2 td, .soc-dsub2 span
		{ color: #fff; background-color: #888; border-color: #888; }
.soc-dsub2 a	{ color: #fff; }

.soc-dsuper1.candidate td,
.soc-dsuper1.candidate span { background-color: #bbb; border: dashed thin #000; }
.soc-dsuper1.candidate a { color: #000; }

table.soc-dsuper1 button {
	padding: 0.3mm;
	margin: 0;
	border-radius: 1mm;
	color: #fff;
	border: solid thin #fff;
	background-color: #07f;
}
